
<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <div class="card vt-card ">
            <div class="main" *ngIf="first" >
                <ul class="list-group"  *ngFor="let value of items">
                  <li class="list-group-item ">{{ value.name }}</li>
                  <li class="list-group-item">{{ value.phonenumber }}</li>
                  <li class="list-group-item ">{{ value.email }}</li>
                </ul>
              </div>
              <button type="submit" class="btn btn-primary" (click)="chnga()">Submit</button>
        </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Designer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                        </p>
                    </div>
                </a>
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                        </p>
                    </div>
                </a>

                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                        </p>
                    </div>
                </a>
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                        </p>
                    </div>
                </a> <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                        </p>
                    </div>
                </a> <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


