





<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <span class="icon fa fa-car"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Car Likers</h3>
                        <p class="description">
                                The way I drive, the way I handle a car, is an expression of my inner feelings.
                                
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-motorcycle"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Bike Likers</h3>
                        <p class="description">
                                Riding a race bike is an art - a thing that you do because you feel something inside.

                        </p>
                    </a>
                </div>
                <div class="timeline">
                        <span class="icon fa fa-motorcycle"></span>
                        <a href="#" class="timeline-content">
                            <h3 class="title">Bike Likers</h3>
                            <p class="description">
                                    Riding a race bike is an art - a thing that you do because you feel something inside.
    
                            </p>
                        </a>
                    </div><div class="timeline">
                            <span class="icon fa fa-motorcycle"></span>
                            <a href="#" class="timeline-content">
                                <h3 class="title">Bike Likers</h3>
                                <p class="description">
                                        Riding a race bike is an art - a thing that you do because you feel something inside.
        
                                </p>
                            </a>
                        </div>
            </div>
        </div>
    </div>
</div>

<div class="footer" (click)="rout()">
        <i class="fa fa-angle-right" aria-hidden="true" style="
        font-size: 27px;
    "></i>
</div> -->


<div class="main  p-4" (click)="divc()"  >
    <button type="submit"  (click)="btn()">ClickforButton</button>
</div>


<div class="form-group">
  <label for=""></label>
  <input type="email" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
  <small id="helpId" class="text-muted">Help text</small>
</div>