

<!-- <div class="bs-docs-section sticky-top">
    <div class="row">
      <div class="col-lg-12">
              <div class="bs-component"> -->
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
            <a class="navbar-brand" href="#">Bike Likers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink="login">Login Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="main">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="main">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="nav">Call the this numer</a>
                  </li>
              </ul>
            </div>
          </nav>
        <!-- </div> --> 

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
<div  ></div>